In [4]:
import pandas as pd
import json
surveymonkey = "Resources/TomHanksMoviesFinal.csv"

In [5]:
surveymonkey_df = pd.read_csv(surveymonkey)
surveymonkey_df.tail()

,Movie Selection 1,Movie Selection 2,Movie Selection 3,Movie Genre,Other,Gender,Birth Year
55,The Man with One Red Shoe,The Money Pit,The 'Burbs,Science Fiction,NaN,Male,1976
56,A League of Their Own,Toy Story Series,That Thing You Do!,Drama,NaN,Respondent skipped this question,XXXX
57,The Man with One Red Shoe,The Money Pit,The 'Burbs,Thriller,NaN,Male,1976
58,A League of Their Own,Toy Story Series,That Thing You Do!,Drama,NaN,Respondent skipped this question,XXXX
59,Forrest Gump,Apollo 13,Cast Away,Thriller,NaN,Female,1994